@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");

* {
  font-family: "Yeon Sung", cursive;
}

body {
  background-color: ivory;
  background-image: url("https://new-year.spartacodingclub.kr/images/pattern.png");

  background-position: 600px 100px;
  background-repeat: no-repeat;
  margin: 0;
}

.mytitle {
  color: darkred;
  text-align: center;

  margin-top: 100px;
  margin-bottom: 50px;
}

.mytitle > h1 {
  font-size: 56px;
  margin-bottom: 0px;
}

.rtans > a {
  width: 150px;
  height: 150px;

  border-radius: 150px;
  border: 3px solid darkred;

  box-shadow: 0px 0px 10px 0px darkred;

  background-color: white;
  display: block;

  margin: 10px;

  background-size: cover;
  background-position: center;

  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
}

.rtans > a:hover {
  background-color: darkred;
}

.rtan1 {
  background-image: url("https://new-year.spartacodingclub.kr/images/yearS1.png");
}
.rtan2 {
  background-image: url("https://new-year.spartacodingclub.kr/images/yearS2.png");
}
.rtan3 {
  background-image: url("https://new-year.spartacodingclub.kr/images/yearS3.png");
}
.rtan4 {
  background-image: url("https://new-year.spartacodingclub.kr/images/yearS4.png");
}
.rtan5 {
  background-image: url("https://new-year.spartacodingclub.kr/images/yearS5.png");
}
.rtan6 {
  background-image: url("https://new-year.spartacodingclub.kr/images/yearS6.png");
}
.rtan7 {
  background-image: url("https://new-year.spartacodingclub.kr/images/yearS7.png");
}
.rtan8 {
  background-image: url("https://new-year.spartacodingclub.kr/images/yearS8.png");
}
.rtan9 {
  background-image: url("https://new-year.spartacodingclub.kr/images/yearS9.png");
}
.rtan10 {
  background-image: url("https://new-year.spartacodingclub.kr/images/yearS10.png");
}
.rtan11 {
  background-image: url("https://new-year.spartacodingclub.kr/images/yearS11.png");
}
.rtan12 {
  background-image: url("https://new-year.spartacodingclub.kr/images/yearS12.png");
}

.rtans {
  display: flex;
  flex-direction: row;
  justify-content: center;

  flex-wrap: wrap;

  width: 1200px;
  margin: auto;
}
.madeBy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  font-size: 17px;
  color: rgb(73, 73, 73);
}

@media screen and (max-width: 1000px) {
  .mytitle > h1 {
    font-size: 80px;
    margin-bottom: 0;
  }
  .mytitle > h2 {
    font-size: 40px;

    margin-bottom: 10%;
  }

  .rtans {
    width: 80%;
  }

  html {
    margin-top: 15%;
  }

  body{
    background-position: 330px 100px;
  }

  .madeBy {
    margin-top: 9%;
    font-size: 26px;
  }

  .rtans > a {
    width: 200px;
    height: 200px;
  
    
    margin: 12px;
  
  }
  
  
};
